<div class="post-content">
    <ng-template [ngIf]="channelPostData == undefined">
        <div class="choose-post-text">Please choose a channel post to see its content here</div>
    </ng-template>

    <div *ngFor="let post of channelPostData">
        <h1>{{ post.title }}</h1> <br>
        <div [innerHTML]="post.content"></div> <br>
        <div *ngFor="let category of post.categories">
            <i>{{ category }}</i>
        </div>
        <b>{{ post.pubDate }}</b> <br>
        <a [href]="post.link" target="_blank">Visit Website</a> <br>
        {{ post.author }}
    </div>
</div>
