<div class="post-content">
    <ng-template [ngIf]="isChannelPostDataDefined()">
        <div [ngClass]="{ 'post-content__data-container--shrinked': postContentState }" 
             class="post-content__data-container post-content__initial-text">
            Please choose a channel post to see its content here
        </div>
    </ng-template>

    <div class="post-content__data-container" [ngClass]="{ 'post-content__data-container--shrinked': postContentState }" 
        *ngFor="let post of channelPostData">
        <div class="post-content__title">{{ post.title }}</div> <br>
        <div class="post-content__author-pubdate-section">
            <div *ngIf="isPostAuthorDefined(post.author)" class="post-content__author">By {{ post.author }}</div> 
            <div class="post-content__pub-date">{{ post.pubDate }}</div>
        </div>
        <div class="post-content__main-content" [innerHTML]="post.content"></div> <br>
        <div class="post-content__button-container">
            <a class="post-content__visit-website-btn" [href]="post.link" target="_blank">Visit Website</a> <br>
        </div> 
        <div class="post-content__categories-section">
            <div class="post-content__tags-text" *ngIf="isPostCategoriesDefined(post.categories)">Tags:</div>
            <div class="post-content__category-container" *ngFor="let category of post.categories">
                <i class="post-content__category">{{ category }}</i>
            </div> 
        </div> 
    </div>
</div>
