:root {
    --vertical-padding: 2px;
    --horizontal-padding: 10px;
    --full-width: 100%;
    --animation-duration: 0.3s;
    --text-align--center: center;
}

.post-content {
    position: absolute;
    top: 0;
    float: right;
    right: 17%;
    font-size: var(--global--font-size--sm);
    height: 100%;
    width: 68%;
    background-color: var(--global--color--primary-light);
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width var(--animation-duration);
}

.post-content--shrinked {
    width: 50%;
}

.post-content__initial-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
    font-size: var(--global--font-size--lg);
    text-align: var(--text-align--center);
    color: var(--global--color--secondary);
    width: var(--full-width);
    height: 100%;
    user-select: var(--global--user-select);

    transition: width var(--animation-duration);
}

.post-content__data-container {
    position: absolute;
    right: 0;
    width: var(--full-width);
}

.post-content__title {
    font-size: var(--global--font-size--xlg);
    width: var(--full-width);
    text-align: var(--text-align--center);
    margin-bottom: 5%;
    font-weight: var(--global--font-weight--normal);
}

.post-content__author-pubdate-section {
    width: var(--full-width);
    font-weight: var(--global--font-weight--bold);
    margin-bottom: 30px;
    padding: 0 var(--horizontal-padding);
    box-sizing: border-box;
}

.post-content__author {
    display: inline-block;
    width: 50%;
}

.post-content__pub-date {
    float: right;
}

.post-content__main-content {
    padding: 0 var(--horizontal-padding);
    box-sizing: border-box;

    // it is necessary to use tags here, because provided Html data from server 
    // provides tags without classes
    img {
        display: block;
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 2%;
    }

    p {
        margin-bottom: 3%;
    }
}

.post-content__button-container {
    width: var(--full-width);
    text-align: var(--text-align--center);
    margin-bottom: 30px;
    margin-top: 15px;
}

.post-content__visit-website-btn {
    display: inline-block;
    border: 1px solid var(--global--color--secondary-dark);
    border-radius: 50px;
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: var(--global--color--secondary-dark);
    font-size: var(--global--font-size--md);
    text-align: var(--text-align--center);
    line-height: 40px;
    background-color: var(--global--color--primary-dark);
}

.post-content__categories-section {
    padding: 0 var(--horizontal-padding);
    margin-bottom: 10px;
}

.post-content__tags-text {
    float: left;
    font-weight: var(--global--font-weight--bold);
    font-size: var(--global--font-size--sm);
    padding: var(--vertical-padding) 0;
    margin-left: 5px;
}

.post-content__category-container {
    float: left;
}

.post-content__category {
    font-size: var(--global--font-size--xs);
    border: 1px solid var(--global--color--secondary-dark);
    border-radius: 50px;
    margin: 0 5px;
    padding: var(--vertical-padding) 8px;
    line-height: 2.2em;
}