.post-content {
    font-size: 8px;
    height: 100vh;
    width: 50vw;
    background-color: white;

    overflow: auto;
}

.choose-post-text {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction: column;

    font-size: 1.4rem;
    text-align: center;
    //line-height: 200px;
    color: rgb(114, 114, 114);
    width: 100%;
    height: 100%;
    
    //vertical-align: middle;
    user-select: none;
}