<div class="post-content">
    <ng-template [ngIf]="channelPostData == undefined">
        <div [ngClass]="{ 'shrinked-post-content': postContentState }" class="choose-post-text">Please choose a channel post to see its content here</div>
    </ng-template>

    <div [ngClass]="{ 'shrinked-post-content': postContentState }" *ngFor="let post of channelPostData">
        <div class="post-title" (click)="postContentToggle()">{{ post.title }}</div> <br>
        <div class="author-pubdate-section">
            <div *ngIf="post.author != ''" class="author">By {{ post.author }}</div> 
            <div class="pub-date">{{ post.pubDate }}</div>
        </div>
        <div class="content" [innerHTML]="post.content"></div> <br>
        <div class="button-container">
            <a class="visit-website-btn" [href]="post.link" target="_blank">Visit Website</a> <br>
        </div> 
        <div class="categories-section">
            <div class="tags-text" *ngIf="post.categories.length > 0">Tags:</div>
            <div *ngFor="let category of post.categories">
                <i class="category">{{ category }}</i>
            </div> 
        </div> 
    </div>
</div>
