.channels {
    list-style-type: none;
    margin: var(--global--spacer--null);
    padding: var(--global--spacer--null);
    height: 100vh;
    width: 100%;
    background-color: var(--global--color--primary);
    user-select: var(--global--user-select);
}

.channels__item {
    --border-width: 2px solid;

    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border: var(--border-width) var(--global--color--primary-darker);
    padding: 20px 0;
    padding-left: 5px;
    cursor: pointer;

    &:active {
        border: var(--border-width) var(--global--color--secondary-dark);
    }

    &:hover {
        background-color: var(--global--color--secondary-light);
    }
}

.channels__item-icon {
    height: 70%;
}
