:root {
    --global--user-select: none;

    --global--panel--color: rgb(249, 249, 249);
    --global--hint--color: rgb(114, 114, 114);
    --global--hover-item--color: rgb(231, 231, 231);

    --global--font-size--xs: 0.7rem;
    --global--font-size--sm: 0.8rem;
    --global--font-size--md: 1.2rem;
    --global--font-size--lg: 1.4rem;
    --global--font-size--xlg: 1.5rem;

    --global--font-weight--normal: 400;
    --global--font-weight--bold: 700;

    --global--spacer--null: 0;
}
