.component-container {
    display: flex;
}

.component-container__app-channels {
    width: 15%;
}

.component-container__app-channel-posts {
    width: 18%;
}

.component-container__app-post-content {
    width: 50%;
}

.component-container__app-statistics {
    width: 17%;
}