.component-container {
    display: flex;
}

.component-container__app-channels {
    width: 15%;
    z-index: 3;
}

.component-container__app-channel-posts {
    width: 18%;
    z-index: 2;
}

.component-container__app-post-content {
    width: 50%;
    z-index: 1;
}

.component-container__app-statistics {
    width: 17%;
}