<!-- <div class="channels">Politifact.Com Truth-O-Meter Rulings From National</div> -->
<div class="channels">
    <div class="back-button"></div>
    <div class="statistics-amounts">
        <div>Channels: 22</div>
        <div>Notifications: 40</div>
        <div>Authours: 37</div> 
    </div>
    <div class="pie-chart"></div>
</div>
  

<div class="notifications">And Here</div>
<div class="notification-content"></div>
<div class="statistics"></div>

<!-- <span>it works</span>
<input type="text" name="randomText" [(ngModel)]="randomText" >
{{ randomText }} -->
