.channel-posts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 0;
    background-color: rgb(216, 216, 216);
    box-sizing: border-box;
    user-select: none;
    transition: width 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
}

.channel-posts--opened-panel {
    width: 100%;
    border: 2px solid rgb(45, 45, 45);
}

.channel-posts__post {
    $odd_posts: '&:nth-child(odd)';
    display: flex;
    align-items: center;
    font-size: 0.8em;
    box-sizing: border-box;
    position: relative;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgb(204, 204, 204);
    width: 18vw;
    height: 10%;
    padding: 0 5px;
    overflow: hidden;
    cursor: pointer;

    &:active, #{$odd_posts}:active {
        border: 1px solid rgb(45, 45, 45);
    }
    
    &:hover, #{$odd_posts}:hover {
        background-color: #e7e7e7;
    }

    #{$odd_posts} {
        background-color: rgb(168, 168, 168);
    }
}

