.channel-posts {
    list-style-type: none;
    margin: var(--global--spacer--null);
    padding: var(--global--spacer--null);
    position: relative;
    height: 100vh;
    width: 0;
    background-color: var(--global--panel--color);
    box-sizing: border-box;
    user-select: var(--global--user-select);
    transition: width 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
}

.channel-posts--opened-panel {
    width: 100%;
    border: 2px solid rgb(45, 45, 45);
}

.channel-posts__post {
    --border-width: 1px solid;

    display: flex;
    align-items: center;
    font-size: var(--global--font-size--sm);
    box-sizing: border-box;
    position: relative;
    border: var(--border-width) rgb(204, 204, 204);
    background-color: rgb(204, 204, 204);
    width: 18vw;
    height: 10%;
    padding: 0 5px;
    overflow: hidden;
    cursor: pointer;

    &:active {
        border: var(--border-width) rgb(45, 45, 45);
    }
    
    &:hover {
        background-color: var(--global--hover-item--color);
    }

    &:nth-child(odd) {
        background-color: rgb(168, 168, 168);

        &:nth-child(odd):active {
            border: var(--border-width) rgb(45, 45, 45);
        }

        &:nth-child(odd):hover {
            background-color: var(--global--hover-item--color);
        }
    }
}

