//$channel-post-height: 60px;

.channel-posts {
    position: relative;
    right: 18vw;
    z-index: -1;
    height: 100vh;
    width: 0; //18vw;
    background-color: rgb(216, 216, 216);
    box-sizing: border-box;
    //border: 2px solid rgb(45, 45, 45); //uncomment it later
    user-select: none;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;

    overflow-y: auto;

    .channel-post {
        font-size: 0.8em;
        box-sizing: border-box;
        position: relative;
        border: 1px solid rgb(204, 204, 204);
        background-color: rgb(204, 204, 204);
        width: 100%;
        height: 10vh;
        padding: 0 5px;
        
        display: flex;
        align-items: center;
        cursor: pointer;

        &:active {
            border: 1px solid rgb(45, 45, 45);
        }

        &:hover {
            background-color: #e7e7e7;
        }
    }

    .even {
        background-color: rgb(168, 168, 168);
    }
}

.opened-panel {
    right: 0;
}