<div class="statistics">
    <div class="statistics-title">Website Statistics</div>
    <div class="statistics-amounts-container">
        <div class="statistics-amounts">Channels: <br> {{ channelsNumber }}</div>
        <div class="statistics-amounts">
            Channel Posts: <br> 
            {{ channelPostsNumber }}
            <span *ngIf="isChannelPostsNumberDefined()" class="hint">Please click on a channel to see the number of its posts</span>
        </div>
        <div class="statistics-amounts">
            Channel Post Authors: <br> 
            {{ channelAuthorsNumber }}
            <span *ngIf="isChannelAuthorsNumberDefined()" class="hint">Please click on a channel to see the number of post authors </span>
        </div>
    </div>
    
    <div class="pie-container">
        <span *ngIf="isPieChartLabelsDefined()" class="hint">Please click on a post to see the frequency of the letters in the post</span>
        <div *ngIf="!isPieChartLabelsDefined()" class="pie-chart">
            <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"></canvas>
        </div>
    </div>
    
</div>
