<div class="statistics">
    <div class="back-button"></div>
    <div class="statistics-amounts">
        <div>Channels: {{ channelsNumber }}</div>
        <div>Channel Posts: {{ channelPostsNumber }}</div>
        <div>Channel Post Authours: {{ channelAuthoursNumber }}</div> 
    </div>
    
    <div class="pie-container">
        <div class="pie-chart">
            <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"></canvas>
        </div>
    </div>
    
</div>
