.statistics {
    height: 100vh;
    width: 18vw;
    background-color: blue;

    overflow: hidden;
}

.back-button {
    height: 10px;
    width: 100%;
    background-color: white;
}

.statistics-amounts {
    height: 50%;
    width: 100%;
    background-color: orange;

    & > div{
        float: none;
    }
}

.pie-container {
    width: 100%;
    height: 50%;
}

.pie-chart {
     position: relative; 
    // height:50vh; 
     width:30vw;
     right: 80px;
     top: 10px;
    // background-color: red;
}