.statistics {
    float: right;
    height: 100vh;
    width: 17%;
    background-color: rgb(192, 192, 192);
    user-select: none;

    overflow: hidden;

    .statistics-title {
        width: 100%;
        text-align: center;
        font-size: 1.5em;
    }

    .statistics-amounts-container {
        height: 50%;
        width: 100%;
        border-top: 2px solid rgb(231, 231, 231);
        border-bottom: 2px solid rgb(231, 231, 231);
        font-size: 1.2rem;
        padding: 0 3px;
    
        .statistics-amounts{
            float: none;
            height: 33.33%;
        }
    }

    .pie-container {
        width: 100%;
        height: 50%;
        padding: 0 3px;

        .hint {
            position: relative;
            top: 30%;
        }
    
        .pie-chart {
            position: relative; 
            width: 180%;
            right: 41%;
            top: 10%;
       }
    }
}

.hint {
    font-size: 0.8rem;
    color: rgb(114, 114, 114);
    font-weight: 900;
    line-height: 0.4rem;
}